<div class="container grid gap10" >
    <div class="logoContainer grid gap10">
        <img src="../assets/icons/ion_book.svg" alt="book" />
        <a routerLink="/" class="logoText" >LEARN & GROW</a>
    </div>
    <div class="grid gap50 center"  >
        <a>
            Events
        </a>
        <a>
            Pricing
        </a>
        <a>
            Courses
        </a>
    </div>
    <div class="grid center" >
        <div class="grid center gap10" >
            <a routerLink="/">Login</a>
            <img src="../assets/icons/ic_round-login.svg" alt="login" />
        </div>
    </div>
</div>